body {
    box-sizing: border-box;
    font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: #fffff8;
    color: #112;
    margin: 1em 0 1em 0;
    line-height: 1.4;
    font-size: 15px;
}

a {
  color: #FF80AB;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
        font-family: 'Nunito Sans', sans-serif;
}
h1 {
    font-size: 3em;
    color: #2A5298;
    text-align: center;
    margin: auto;
    margin-top: 1.5em;
    max-width: 650px;

}
h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    max-width: 650px;
    text-align: center;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
h3,h4,h5,h6 {
    margin: auto;
    text-align: center;
    max-width: 650px;
}
p, ol, ul, dl {
    font-size: 1.4em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}
p {
    text-align: left;
    margin: auto auto;
    font-size: 1.4em;
    max-width: 650px;
}
ul {
    text-align: left;
    margin: auto auto;
    font-size: 1em;
    max-width: 650px;
}
li {
    text-align: left;
    margin: auto auto;
    font-size: 1.4em;
    max-width: 650px;
}
.wrapper {
  padding: 6em 2em 4em;
}
.wrapper.style1 h1{
    font-size: 3em;
}
.wrapper.style2 {
        background-image: linear-gradient(to bottom, #1e3c72, #21417b, #244785, #274c8e, #2a5298);
        background-attachment: fixed;
        color: #fff;
}
.wrapper.style2 h1{
    color: #fff
}
.wrapper.style2 h2{
    color: #FF80AB;
}
.wrapper.style3 {
    background-color: #ffffff;
    color: #000000;
}
.wrapper.style3 h1 {
    color: #000000;
}
.wrapper.style3 h2 {
    color: #2A5298;
}
.wrapper.footer {
    padding: 2em 2em 2em;
    background: #000;
    color: #ffffff;
}
