body {
    box-sizing: border-box;
    font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif;
    background: #fffff8;
    color: #000;
    margin: 1em 0 1em 0;
}

a {
  color: #FF80AB;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}
h1 {
    font-size: 2.5em;
    color: #2A5298;
    text-align: center;
    margin: auto;
    margin-top: 1.5em;
    max-width: 650px;

}
h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    max-width: 650px;
    text-align: center;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
h3,h4,h5,h6 {
    margin: auto;
    text-align: center;
    max-width: 650px;
}
p, ol, ul, dl {
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    margin: auto auto;
    text-align: left;
    max-width: 650px;
}
li {
    font-size: 1.2em;
    line-height: 1.7em;
}
@media (max-width: 991px) {
    p,a,h1,h2,h3,h4,h5,h6,ul,dl,ol,li {
        max-width: 90%;
    }
    h1 {
        font-size: 3em;
    }
    li {
        line-height: 1.7em;
    }
}
